---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
      <!-- Page Navigation -->
      <section class="contact">
        <h3 class="contact-title">Navigation</h3>
      </section>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Links/Contact</h3>
      <ul>
        {% if site.social-medium %}
          <li class="medium"><a href="https://medium.com/@{{site.social-medium}}"><i class="fa fa-medium"></i></a></li>
        {% else %}
          <li class="medium"><a href="https://medium.com/@{{site.social-medium}}"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-bandcamp %}
          <li class="bandcamp"><a href="https://{{site.social-bandcamp}}.bandcamp.com/"><i class="fa fa-bandcamp"></i></a></li>
        {% else %}
          <li class="bandcamp"><a href="https://{{site.social-bandcamp}}.bandcamp.com/"><i class="fa fa-bandcamp" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-itchio %}
          <li class="itchio"><a href="https://{{site.social-itchio}}.itch.io/"><i class="fa fa-circle fa-stack-2x"><i class="fa fa-gamepad fa-stack-1x"></i></a></li>
        {% else %}
          <li class="itchio"><a href="https://{{site.social-itchio}}.itch.io/"><i class="fa fa-circle fa-stack-2x  aria-hidden="true">"><i class="fa fa-gamepad fa-stack-1x"  aria-hidden="true">></i></a></li>
        {% endif %}
        {% if site.social-youtube %}
          <li class="youtube"><a href="https://www.youtube.com/channel/{{site.social-youtube}}"><i class="fa fa-youtube"></i></a></li>
        {% else %}
          <li class="youtube"><a href="https://www.youtube.com/channel/{{site.social-youtube}}"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
        {% endif %}
       {% if site.social-github %}
          <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github"></i></a></li>
        {% else %}
          <li class="github"><a href="http://github.com/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope"></i></a></li>
        {% else %}
          <li class="email"><a href="adotintime@tutanota.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-telegram %}
          <li class="telegram"><a href="https://t.me/{{site.social-telegram}}"><i class="fa fa-paper-plane"></i></a></li>
        {% else %}
          <li class="telegram"><a href="https://t.me/{{site.social-telegram}}"><i class="fa fa-paper-plane" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-kofi %}
          <li class="kofi"><a href="Ko-fi.com/{{site.social-kofi}}"><i class="fa fa-coffee"></i></a></li>
        {% else %}
          <li class="kofi"><a href="Ko-fi.com/{{site.social-kofi}}"><i class="fa fa-coffee" aria-hidden="true"></i></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
